quasFORMAT: 1A
HOST: https://api.nfemais.com.br/api/v1/

# NFeMais API

O [NFeMais](https://v4.nfemais.com.br) disponibiliza uma API RESTful que permite o acesso aos módulos do sistema.

Dúvidas e solicitações relacionadas a integração e API, devem ser enviadas para o e-mail kasper@zipline.com.br.

Recursos disponíveis para acesso via API:
* [**Dados da empresa**](#reference/recursos/empresa)
* [**Contatos**](#reference/recursos/contatos)
* [**Categoria de produtos**](#reference/recursos/categorias)
* [**Produtos**](#reference/recursos/produtos)
* [**Serviços**](#reference/recursos/servicos)
* [**Grupo de tributos**](#reference/recursos/grupo-de-tributos)
* [**Relatórios**](#reference/recursos/relatorios)
* [**NFe**](#reference/recursos/nfe)
* [**Usuários**](#reference/recursos/usuarios)
* [**Webhooks**](#reference/recursos/webhooks)


## URLs de acesso
O NFe+ não possui sandbox (ambiente de homologação). Cada conta do sistema é isolada das outras (multi-tenant), sugerimos aos desenvolvedores que criem uma conta de testes, e depois utilizem a conta de produção com os dados dos clientes.

Para testar a API, crie uma conta gratuitamente, acesse o sistema e clique no menu configurações. Na aba API você gera o personal_token.

URL homologação/produção (access_token): https://api.nfemais.com.br/api/oauth/access_token

URL homologação/produção (ex: contatos): https://api.nfemais.com.br/api/v1/contatos


## Métodos
Requisições para a API devem seguir os padrões:
| Método | Descrição |
|---|---|
| `GET` | Retorna informações de um ou mais registros. |
| `POST` | Utilizado para criar um novo registro. |
| `PUT` | Atualiza dados de um registro ou altera sua situação. |
| `DELETE` | Remove um registro do sistema. |


## Respostas

| Código | Descrição |
|---|---|
| `200` | Requisição executada com sucesso (success).|
| `400` | Erros de validação ou os campos informados não existem no sistema.|
| `401` | Dados de acesso inválidos.|
| `404` | Registro pesquisado não encontrado (Not found).|
| `405` | Método não implementado.|
| `410` | Registro pesquisado foi apagado do sistema e não esta mais disponível.|
| `422` | Dados informados estão fora do escopo definido para o campo.|
| `429` | Número máximo de requisições atingido. (*aguarde alguns segundos e tente novamente*)|


## Limites (Throttling)
Existe o limite de `60` requisições por minuto por aplicação+usuário.

Você pode acompanhar esses limites nos `headers`: `X-RateLimit-Limit`, `X-RateLimit-Remaining` enviados em todas as respostas da API.

Ações de `listar` exibem `50` registros por página. Não é possível alterar este número.

Por questões de segurança, todas as requisições serão feitas através do protocolo `HTTPS`.

## Listar
As ações de `listar` permitem o envio dos seguintes parâmetros:

| Parâmetro | Descrição |
|---|---|
| `filtro` | Filtra dados pelo valor informado. |
| `page` | Informa qual página deve ser retornada. |


# Group Autenticação - OAuth

Nossa API utiliza [OAuth2](https://oauth.net/2/) como forma de autenticação/autorização.



## Solicitando tokens de acesso [/oauth/access_token]

Para testar a API, crie uma conta no NFe+ e entre no sistema utilizando as credenciais informadas.  
Para gerar o token da API (personal_token)

### Obtendo o personal_token

Para testar a API do NFe+ (sandbox), sugerimos a criação de uma conta de testes.

### Utilizando personal_token [POST]
**Atenção! O endpoint de login não utiliza o parâmetro da versão da API (v1). Utilize a seguinte URL:**

> POST https://api.nfemais.com.br/api/oauth/access_token

O `personal_token` é do formato JWT e contém informações da empresa (subdomínio) e do usuário.


#### Dados para envio no POST
| Parâmetro | Descrição |
|---|---|
| `grant_type` | Informar: `personal` |
| `personal_token` | Token JWT com informações da aplicação cliente. |


+ Request (application/json)

    + Body

            {
              "grant_type": "personal"
              "personal_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHAiOiIzNDhlNTM4MzQ2M2Y3MzZjMGExZTJhNTFmNjYwZjA5NCIsInN1YmRvbWluaW8iOiJleGVtcGxvIiwiY2xpZW50IjoiMTU0ZDZlZGQ4YmQzMDEwYzQ4NjBkN2E5Yzk1NzNmYmVmZTUyNGRlZiJ9.JJNs0bFtGOtwyJy_r-eefsvkd387M_x7zpucE1m4WIw",
            }

+ Response 200 (application/json)

    + Body

            {
                "access_token": "[access_token]",
                "token_type": "Bearer",
                "expires_in": 900,
                "refresh_token": "[refresh_token]"
            }

# Group Recursos

# Dados da empresa [/empresa]

Buscar detalhes da conta.

### Listar (List) [GET /empresa]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]


+ Response 200 (application/json)

          {
    "subdom": "zipline",
    "nome": "ZIPLINE TECNOLOGIA LTDA",
    "fantasia": "",
    "cpfcnpj": "04693497000121",
    "fones": "5530263336",
    "emails": "suporte@zipline.com.br",
    "end": "Rua do Acampamento",
    "num": "380",
    "compl": "SALA  1 - 2 E 3",
    "bairro": "Centro",
    "cidadeNome": "Santa Maria",
    "cidadeCod": "4316907",
    "uf": "RS",
    "cep": "97050002",
    "cifrao": "",
    "crt": 10,
    "atividade": 10,
    "pSimples": 4,
    "pICMS": "",
    "pPIS": "",
    "pCOFINS": "",
    "baseIRPJ": "",
    "baseCSLL": "",
    "pIRPJ": "",
    "pCSLL": "",
    "inscMunicipal": "4628202",
    "tipoIE": "",
    "inscEstadual": "",
    "cnae": "6203100",
    "codTributMunicipio": "724",
    "regimeTributacao": "0",
    "cmc": "",
    "RNTRC": ""
}



# Contatos [/contatos]

Os contatos podem ser clientes, fornecedores e transportadores.

### Listar (List) [GET /contatos{?filtro,endereco,telefone,email,clienteFinal,indIE,IE,IM,suframa,obs,fields,orderBy}]
+ Parameters
    + filtro (string, optional) - Busca a string informada nos campos: nome, fantasia, código, contato, email, telefone e tags.
    + endereco (string, optional) - Busca a string informada no endereço do contato (rua, cep, bairro, cidade e estado)
    + telefone (string, optional) - Busca o valor informado no campo "Telefones" do contato
    + email (string, optional) - Busca o valor informado no campo "E-mails" do contato
    + clienteFinal (number, optional) - Filtrar por cliente final. Valores possíveis:
        * 1 - Sim
        * 2 - Não
    + indIE (number, optional) - Filtrar por indicador de IE. Valores possíveis:
        * 1 - Contribuinte
        * 2 - Isento de IE
        * 9 - Não contribuinte
    + IE (string, optional) - Filtra por inscrição estadual 
    + IM (string, optional) - Filtra por inscrição municipal
    + suframa (string, optional) - Filtra pelo código SUFRAMA 
    + obs (string, optional) - Busca a string informada nas observações do contato
    + fields (string, optional) - Permite definir quais os campos serão retornados pela api. Informe separado por vírgula. Valores possíveis:
        * codigo, nome, fantasia, nomeParaContato, cpfcnpj, tipo, dtNasc, dtCad, emails, fones, logradouro, numero, complemento, bairro, cep, cidade, uf, clienteFinal, indicadorIE, inscricaoMunicipal, inscricaoEstadual, obs, tags
        * ex: &fields=nome,fantasia
        * Padrão: codigo, nome, tipo, emails, fones, cidade, uf, clienteFinal, tags
    + orderBy (string, optional) - Permite definir a ordenação da listagem. Informe o campo e a forma de ordenação (ascendente ou descendente) separados por vírgula. Só é possível definir uma ordenação por requisição. Valores possíveis:
        * codigo, tipo, nome, fantasia, nomeParaContato, cpfcnpj, clienteFinal, indicadorIE, inscricaoEstadual, inscricaoMunicipal, suframa, emails, cidade
        * ex: &orderBy=nome,desc
        * ex: &orderBy=fantasia,asc
        

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

          {
              "total": 1,
              "per_page": 50,
              "current_page": 1,
              "last_page": 4,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 50,
              "data": [
                {
                  "codigo": "1",
                  "tipo": ["cliente", "fornecedor"],
                  "nome": "Nome do contato",
                  "emails": [],
                  "fones": [],
                  "clienteFinal": false,
                  "tags": [],
                  "cidade": "Nome da cidade",
                  "uf": "UF"
                }
              ]
          }

+ Response 401 (application/json)

          {
              "errCode": 401,
              "errMsg": "Não foi possível acessar o sistema. Verifique seu \"access_token\".",
              "errObs": "access_denied",
              "errFields": null,
              "errUrl": "/v1/contatos"
          }

### Novo (Create) [POST]

+ Attributes (object)

    + nome: nome do contato (string, required) - limite 60 caracteres
    + fantasia (string, optional) - limite de 60 caracteres
    + tipo (array, required) - Tipo
        + cliente
        + fornecedor
        + transportadora
    + nomeParaContato (string, optional) - limite de 60 caracteres
    + cpfcnpj (string, optional)
    + dtNasc (string, optional) - formato: YYYY-MM-DD
    + emails (array)
    + fones (array)
    + cep (number, optional)
    + logradouro (string, optional)
    + numero (string, optional)
    + complemento (string, optional)
    + bairro (string, optional)
    + cidade (string, optional)
    + codIBGE (string, optional) - Informe um código IBGE válido
    + uf (string, optional) - O UF deverá ser referente ao código do IBGE informado
    + pais (string, optional)
    + clienteFinal (optional)
    + indicadorIE (enum[number], optional)
        + Members
          + 1 - Contribuinte
          + 2 - Isento de IE
          + 9 - Não contribuinte
    + inscricaoMunicipal (string, optional)
    + inscricaoEstadual (string, optional)
    + inscricaoEstadualST (string, optional)
    + suframa (string, optional)
    + obs (string, optional)
    + tags (array, optional)
    + cepEntrega (number, optional) - CEP do endereço de entrega, caso seja diferente do informado no cliente
    + cpfCnpjEntrega (number, optional) - CPF/CNPJ do endereço de entrega, caso seja diferente do informado no cliente
    + logradouroEntrega (string, optional) - Logradouro do endereço de entrega, caso seja diferente do informado no cliente
    + numeroEntrega (number, optional) - Número do endereço de entrega, caso seja diferente do informado no cliente
    + complementoEntrega (string, optional) - Complemento do endereço de entrega, caso seja diferente do informado no cliente
    + bairroEntrega (string, optional) - Bairro do endereço de entrega, caso seja diferente do informado no cliente
    + codIBGEEntrega (number, optional) - Código da cidade do endereço de entrega, caso seja diferente do informado no cliente
    + ufEntrega (string, optional) - UF do endereço de entrega, caso seja diferente do informado no cliente. O UF deverá ser referente ao código do IBGE informado
    + pontoRefEntrega (string, optional) - Ponto de referência do endereço de entrega, caso seja diferente do informado no cliente 
    + inscEstadualEntrega (string, optional) - Inscrição estadual do destinatário da entrega, caso seja diferente do informado no cliente
    + fonesEntretga (string, optional) - Números de contato do destinatário da entrega, separados por vírgula
    + emailsEntrega (string, optional) - E-mails de contato do destinatário da entrega, separados por vírgula

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
              "nome": "Kaya Labadie",
              "fantasia": "",
              "nomeParaContato": "Elfrieda Labadie",
              "cpfcnpj": "00000000000191",
              "tipo": [
                "cliente"
              ],
              "dtNasc": "1992-02-13",
              "emails": [
                "exemplo@example.com.br"
              ],
              "fones": [],
              "cep": "",
              "logradouro": "Rua Exemplo lado ímpar",
              "numero": "999",
              "complemento": "",
              "bairro": "",
              "codIBGE": "3550308",
              "uf": "SP",
              "pais": "",
              "clienteFinal": true,
              "indicadorIE": 1,
              "inscricaoMunicipal": "",
              "inscricaoEstadual": "",
              "inscricaoEstadualST": "",
              "cpfCnpjEntrega": "25214589514",
              "logradouroEntrega": "Rua das palmeiras",
              "numeroEntrega": "123",
              "complementoEntrega": "AP 300",
              "bairroEntrega": "Centro",
              "codIBGEEntrega": "4304606",
              "ufEntrega": "RS",
              "cepEntrega": "92120555",
              "pontoRefEntrega": "Prédio branco",
              "inscEstadualEntrega": "12345678",
              "fonesEntrega": "11999999999,11988888888",
              "emailsEntrega": "primeiroemail@teste.com,segundoemail@teste.com",
              "suframa": "",
              "obs": "",
              "tags": ["cliente bom", "especial"]
            }

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "codigo": 1,
                "nome": "Nome do contato"
            }

### Detalhar (Read) [GET /contatos/{codigo}]

+ Parameters
    + codigo (required, number, `1`) ... Código do contato

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)
  Todos os dados do contato
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": "1",
              "tipo": ["cliente", "fornecedor", "transportadora"],
              "nome": "Nome do novo contato",
              "fantasia": "",
              "nomeParaContato": "",
              "cpfcnpj": "",
              "clienteFinal": true,
              "indicadorIE": 9,
              "inscricaoEstadual": "",
              "inscricaoEstadualST": "",
              "inscricaoMunicipal": "",
              "suframa": "",
              "emails": [],
              "logradouro": "",
              "numero": "",
              "complemento": "",
              "bairro": "",
              "cidade": "",
              "codIBGE": "",
              "uf": "",
              "cep": "",
              "pais": "",
              "fones": [],
              "tags": [],
              "obs": "",
              "dtNasc": "1990-05-12",
              "dtCad": "2017-01-15 11:20:15",
              "cpfCnpjEntrega": "",
              "logradouroEntrega": "",
              "numeroEntrega": "",
              "complementoEntrega": "",
              "bairroEntrega": "",
              "codIBGEEntrega": "0",
              "ufEntrega": "",
              "cepEntrega": 0,
              "pontoRefEntrega": "",
              "inscEstadualEntrega": "01234567",
              "fonesEntrega": "11999999999,11988888888",
              "emailsEntrega": "primeiro@teste.com,segundo@teste.com"
            }

+ Response 404 (application/json)
  Quando registro não for encontrado.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum registro com código 1 econtrado",
              "errObs": null,
              "errFields": null
            }

+ Response 410 (application/json)
  Quando registro foi apagado do sistema, o código de retorno é 410.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59
    + Body

            {
              "errCode": 410,
              "errMsg": "Registro com código 1 não existe.",
              "errObs": null,
              "errFields": null
            }

### Editar (Update) [PUT  /contatos/{codigo}]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
              "nome": "Exemplo Company LTDA",
              "fantasia": "",
              "nomeParaContato": "Elfrieda",
              "cpfcnpj": "83294489654",
              "tipo": [
                "cliente"
              ],
              "dtNasc": "1992-02-13",
              "emails": [
                "exemplo@example.com.br"
              ],
              "fones": [],
              "cep": 4320040,
              "logradouro": "Rua Exemplo lado ímpar",
              "numero": "999",
              "complemento": "",
              "bairro": "",
              "codIBGE": "355030",
              "uf": "SP",
              "pais": "",
              "clienteFinal": true,
              "indicadorIE": 1,
              "inscricaoMunicipal": "",
              "inscricaoEstadual": "",
              "inscricaoEstadualST": "",
              "cpfCnpjEntrega": "",
              "logradouroEntrega": "",
              "numeroEntrega": "",
              "complementoEntrega": "",
              "bairroEntrega": "",
              "codIBGEEntrega": "",
              "ufEntrega": "",
              "cepEntrega": "",
              "pontoRefEntrega": "",
              "inscEstadualEntrega": "01234567",
              "fonesEntrega": "11999999999,11988888888",
              "emailsEntrega": "primeiro@teste.com,segundo@teste.com",
              "suframa": "",
              "obs": "",
              "tags": []
            }

+ Response 200 (application/json)
  Todos os dados do contato
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": "1",
              "tipo": ["cliente", "fornecedor", "transportadora"],
              "nome": "Nome do novo contato",
              "fantasia": "",
              "nomeParaContato": "",
              "cpfcnpj": "",
              "clienteFinal": true,
              "indicadorIE": 9,
              "inscricaoEstadual": "",
              "inscricaoEstadualST": "",
              "inscricaoMunicipal": "",
              "suframa": "",
              "emails": [],
              "logradouro": "",
              "numero": "",
              "complemento": "",
              "bairro": "",
              "cidade": "",
              "codIBGE": "",
              "uf": "",
              "cep": "",
              "pais": "",
              "fones": [],
              "tags": [],
              "obs": "",
              "dtNasc": "1990-05-12",
              "dtCad": "2017-01-15 11:20:15",
              "cpfCnpjEntrega": "",
              "logradouroEntrega": "",
              "numeroEntrega": "",
              "complementoEntrega": "",
              "bairroEntrega": "",
              "codIBGEEntrega": "0",
              "cidadeEntrega": "",
              "ufEntrega": "",
              "cepEntrega": 0,
              "pontoRefEntrega": "",
              "inscEstadualEntrega": "01234567",
              "fonesEntrega": "11999999999,11988888888",
              "emailsEntrega": "primeiro@teste.com,segundo@teste.com"
            }

### Remover (Delete) [DELETE  /contatos/{codigo}]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "code": "200",
                "msg": "Contato com código 317 excluído com sucesso!",
                "obs": null,
                "fields": null
            }

# Categorias de produtos [/categorias]

As categorias são utilizadas para agrupar produtos, podendo filtrar posteriormente por produtos de determinada categoria.


### Listar (List) [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

          {
              "total": 1,
              "per_page": 50,
              "current_page": 1,
              "last_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 50,
              "data": [
                {
                  "codigo": "1",
                  "nome": "Material de escritório"
                }
              ]
          }

+ Response 401 (application/json)

          {
              "errCode": 401,
              "errMsg": "Não foi possível acessar o sistema. Verifique seu \"access_token\".",
              "errObs": "access_denied",
              "errFields": null,
              "errUrl": "/v1/categorias"
          }

### Novo (Create) [POST]

+ Attributes (object)

    + nome (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
              "nome": "Fios e arames"
            }

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "codigo": 2,
                "nome": "Fios e arames"
            }

### Detalhar (Read) [GET /categorias/{codigo}]

+ Parameters
    + codigo (required, number, `1`) ... Código da categoria

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)
  Todos os dados do categoria
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": "1",
              "nome": "Material de escritório"
            }

+ Response 404 (application/json)
  Quando registro não for encontrado.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum registro com código 1 encontrado",
              "errObs": null,
              "errFields": null
            }

+ Response 410 (application/json)
  Quando registro foi apagado do sistema, o código de retorno é 410.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59
    + Body

            {
              "errCode": 410,
              "errMsg": "Registro com código 1 não existe.",
              "errObs": null,
              "errFields": null
            }

### Editar (Update) [PUT  /categorias/{codigo}]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
              "nome": "Materiais de escritório"
            }

+ Response 200 (application/json)
  Todos os dados do categoria
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": "1",
              "nome": "Materiais de escritório"
            }

### Remover (Delete) [DELETE  /categorias/{codigo}]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "code": "200",
                "msg": "Categoria com código 1 excluído com sucesso!",
                "obs": null,
                "fields": null
            }


# Produtos [/produtos]

### Listar (List) [GET /produtos{?filtro,codCategoria,arquivado,anotInternas,Norig,INCM,codConfigTrib,IcProd,updatedBefore,updatedAfter,fields,orderBy}]

+ Parameters
    + filtro (optional) - Busca a string informada nos campos: código do produto, código próprio e nome do produto.
    + codCategoria (optional, integer) - Código da categoria do produto.
    + arquivado (boolean, optional) - Filtra apenas por produtos arquivados
    + Norig (optional, integer) - Origem do produto. Valores possíveis:
      * 0 - Nacional, exceto as indicadas nos códigos de 3, 4, 5 e 8',
      * 1 - Estrangeira, importação direta, exceto a indicada no código 6',
      * 2 - Estrangeira, adquirida no mercado interno, exceto a indicada no código 7',
      * 3 - Nacional, mercadoria ou bem com Conteúdo de Importação maior que 40% e menor ou igual a 70%',
      * 4 - Nacional, produção em conformidade com processos básicos que tratam as legisl. dos Ajustes',
      * 5 - Nacional, mercadoria ou bem com Conteúdo de Importação inferior ou igual a 40%',
      * 6 - Estrangeira, importação direta, sem similar nacional, constante na lista da CAMEX e gás natural',
      * 7 - Estrangeira, adquir. merc. interno, sem similar nacional, na lista da CAMEX e gás natural',
      * 8 - Nacional, mercadoria ou bem com Conteúdo de Importação superior a 70%'
    + INCM (optional, integer) - NCM dos produtos
    + codConfigTrib (optional, integer) - Código do grupo de tributos vinculado.
    + IcProd (optional, string) - Código interno do produto
    + anotInternas (optional, string) - Filtro baseado nas observações internas do produto
    + updatedBefore (optional, string) - Lista apenas produtos que sofreram alterações antes da data informada. Formato "YYYY-MM-DD HH:MM:SS"
    + updatedAfter (optional, string) - Lista apenas produtos que sofreram alterações após a data informada. Formato "YYYY-MM-DD HH:MM:SS"
    + fields (optional) - Permite definir quais os campos serão retornados pela api. Informe separado por vírgula.
      * ex: &fields=descricao,codigoProprio
    + orderBy (optional) - Permite definir a ordenação da listagem. Informe o campo e a forma de ordenação (ascendente ou descendente) separados por vírgula. Só é possível definir uma ordenação por requisição. Valores possíveis:
        * codigo, codCategoria, descricao, codigoProprio, precoVenda, origemFiscal, unidadeTributada, refEanGtin, ncm, excecaoIPI, codigoCEST, pesoBruto, pesoLiquido, anotacoesNFE, anotacoesInternas, tags, dtCad
        * ex: &orderBy=codigo,desc
        * ex: &orderBy=descricao,asc

+ Request (application/json)

  + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

            {
                "total": 1,
                "per_page": 50,
                "current_page": 1,
                "last_page": 4,
                "next_page_url": null,
                "prev_page_url": null,
                "from": 1,
                "to": 50,
                "data": [
                    {
                        "codigo": 1,
                        "descricao": "Caneca Preta",
                        "codigoProprio": "",
                        "estoque": 60,
                        "estoqueMinimo": 10,
                        "controlarEstoque": false,
                        "margemLucro": 0,
                        "precoCusto": 100,
                        "precoVenda": 200,
                        "origemFiscal": 0,
                        "unidadeTributada": "UN",
                        "refEanGtin": "",
                        "ncm": "",
                        "excecaoIPI": 1,
                        "codigoCEST": "",
                        "pesoBruto": 0,
                        "pesoLiquido": 0,
                        "codigoGrupoTributos": 1,
                        "anotacoesNFE": "",
                        "anotacoesInternas": "",
                        "tags": [ "café", "utilidades" ],
                        "dtCad": "2017-03-10 14:10:37",
                        "codCategoria": 0,
                        "updatedAt": "2019-09-20 16:56:39",
                        "listaImagens": [
                            {
                                "foto": {
                                    "link": "https://730590973010370e1726.cdn.com/010-2154900.png",
                                    "padrao": 1
                                },
                                "thumb": {
                                    "link": "https://730590973010370e1726.cdn.com/010-2154900_tmb.png"
                                }
                            },
                            {
                                "foto": {
                                    "link": "https://730590973010370e1726.cdn.com/011-2111100.png"
                                },
                                "thumb": {
                                    "link": "https://730590973010370e1726.cdn.com/011-2111100_tmb.png"
                                }
                            }
                        ]
                    }
                ]
            }

### Novo (Create) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

                {
                  "descricao": "Novo produto",
                  "codigoProprio": "001",
                  "codCategoria": 1,
                  "estoque": 100,
                  "estoqueMinimo": 0,
                  "controlarEstoque": true,
                  "margemLucro": 0.00,
                  "precoCusto": 5.00,
                  "precoVenda": 10.37,
                  "origemFiscal": 0,
                  "unidadeTributada": "UN",
                  "refEanGtin": "",
                  "ncm": "",
                  "codigoCEST": "0107400",
                  "excecaoIPI": 7,
                  "codigoGrupoTributos": 0,
                  "anotacoesNFE": "",
                  "anotacoesInternas": "",
                  "pesoBruto": 0,
                  "pesoLiquido": 0,
                  "tags": ["exemplo", "modelo"]
                }

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "codigo": 1,
                "descricao": "Novo produto"
            }

### Detalhar (Read) [GET /produtos/{codigo}]

+ Request (application/json)

  + Headers

            Authorization: Bearer [access_token]

  + Parameters
      + codigo (required, number, `1`) ... Código do contato

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": "1",
              "descricao": "Novo produto",
              "codigoProprio": "",
              "codCategoria": 1,
              "estoque": 100,
              "estoqueMinimo": 0,
              "controlarEstoque": true,
              "margemLucro": 0.00,
              "precoCusto": 0.0000,
              "precoVenda": 0.0000,
              "origemFiscal": 0,
              "unidadeTributada": "UN",
              "refEanGtin": "",
              "ncm": "",
              "codigoCEST": "",
              "excecaoIPI": "",
              "codigoGrupoTributos": 0,
              "anotacoesNFE": "",
              "anotacoesInternas": "",
              "pesoBruto": "0.000",
              "pesoLiquido": "0.000",
              "tipoProduto": "produto",
              "tags": [],
              "dtCad": "2017-05-24 17:32:18",
              "codCategoria": 0,
              "updatedAt": "2019-10-30 14:55:13"
            }

+ Response 410 (application/json)
 Quando o registro foi apagado do sistema.

    + Body

            {
              "errCode": 410,
              "errMsg": "Registro com código 1 não existe.",
              "errObs": null,
              "errFields": null
            }

+ Response 404 (application/json)
 Quando o registro não foi encontrado.

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum registro com código 1 econtrado",
              "errObs": null,
              "errFields": null
            }

### Editar (Update) [PUT /produtos/{codigo}]

+ Request (application/json)

  + Headers

            Authorization: Bearer [access_token]

  + Parameters
      + codigo (required, number, `1`) ... Código do contato
      
  + Body
        
            {
                  "descricao": "Novo produto editado",
                  "codigoProprio": "007",
                  "codCategoria": 1,
                  "precoVenda": 7.50,
                  "origemFiscal": 3,
                  "unidadeTributada": "UN",
                  "refEanGtin": "7895548123584",
                  "ncm": "12345678",
                  "codigoCEST": "0107400",
                  "excecaoIPI": 7,
                  "codigoGrupoTributos": 2,
                  "anotacoesNFE": "",
                  "anotacoesInternas": "",
                  "pesoBruto": 1.70,
                  "pesoLiquido": 1.22,
                  "tags": ["exemplo", "modelo"]
            }

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
                "codigo": 1,
                "descricao": "Novo produto editado"
            }

+ Response 410 (application/json)
 Quando o registro foi apagado do sistema.

    + Body

            {
              "errCode": 410,
              "errMsg": "Registro com código 1 não existe.",
              "errObs": null,
              "errFields": null
            }

+ Response 404 (application/json)
 Quando registro não foi encontrado.

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum registro com código 1 econtrado",
              "errObs": null,
              "errFields": null
            }

### Remover (Delete) [DELETE  /produtos/{codigo}]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "code": "200",
              "msg": "Produto com código 1 excluído com sucesso.",
              "obs": null,
              "fields": null
            }


# Serviços [/servicos]


### Listar (List) [GET /servicos{?filtro,fields,orderBy}]
+ Parameters
    + filtro (optional) - Busca a string informada nos campos código e descrição do serviço.
    + fields (optional) - Permite definir quais os campos serão retornados pela api. Informe separado por vírgula.
      * ex: &fields=codigo,descricao
    + orderBy (optional) - Permite definir a ordenação da listagem. Informe o campo e a forma de ordenação (ascendente ou descendente) separados por vírgula. Só é possível definir uma ordenação por requisição. Valores possíveis:
        * codigo, codCategoria, descricao, precoVenda, dtCad
        * ex: &orderBy=descricao,desc
        * ex: &orderBy=precoVenda,asc

+ Request (application/json)

  + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

            {
                "total": 1,
                "per_page": 50,
                "current_page": 1,
                "last_page": 1,
                "next_page_url": null,
                "prev_page_url": null,
                "from": 1,
                "to": 50,
                "data": [
                    {
                        "codigo": 3,
                        "descricao": "",
                        "precoVenda": 0,
                        "codigoGrupoTributos": 0,
                        "tags": [],
                        "dtCad": "2017-04-24 11:44:35",
                        "itemListaServico": "",
                        "cnae": ""
                    }
                ]
            }

### Novo (Create) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
              "descricao": "Manuteção agendada",
              "precoVenda": 10,
              "codigoGrupoTributos": 1,
              "tags": [],
              "itemListaServico": "14.01",
              "cnae": "1234567",
              "codTributacaoMun": "987654",
              "anotacoesInternas": ""
            }

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "codigo": 10,
                "descricao": "Manuteção agendada"
            }

### Detalhar (Read) [GET /servicos/{codigo}]

+ Request (application/json)

  + Headers

            Authorization: Bearer [access_token]

  + Parameters
      + codigo (required, number, `1`) ... Código do serviço

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": 10,
              "descricao": "Manuteção agendada",
              "precoVenda": 10,
              "codigoGrupoTributos": 1,
              "anotacoesInternas": "",
              "dtCad": "2017-04-24 11:44:35",
              "tipoProduto": "servico",
              "tags": [],
              "itemListaServico": "14.01",
              "cnae": "1234567",
              "codTributacaoMun": "987654"
            }

+ Response 410 (application/json)
 Quando o registro foi apagado do sistema.

    + Body

            {
              "errCode": 410,
              "errMsg": "Registro com código 1 não existe.",
              "errObs": null,
              "errFields": null
            }

+ Response 404 (application/json)
 Quando o registro não foi encontrado.

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum registro com código 1 econtrado",
              "errObs": null,
              "errFields": null
            }

### Editar (Update) [PUT /servicos/{codigo}]

+ Request (application/json)

  + Headers

            Authorization: Bearer [access_token]

  + Parameters
      + codigo (required, number, `1`) ... Código do serviço
      
  + Body 
            
            {
                "descricao": "Editado API",
                "precoVenda": 399,
                "codigoGrupoTributos": 1,
                "tags": ["Exemplo", "API"],
                "itemListaServico": "1.03",
                "cnae": "1234567",
                "codTributacaoMun": "112233",
                "anotacoesInternas": "Anotação"
            }

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": 1,
              "descricao": "Editado API"
            }

+ Response 410 (application/json)
 Quando o registro foi apagado do sistema.

    + Body

            {
              "errCode": 410,
              "errMsg": "Registro com código 1 não existe.",
              "errObs": null,
              "errFields": null
            }

+ Response 404 (application/json)
 Quando o registro não foi encontrado.

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum registro com código 1 econtrado",
              "errObs": null,
              "errFields": null
            }

### Remover (Delete) [DELETE  /servicos/{codigo}]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "code": "200",
              "msg": "Serviço com código 1 excluído com sucesso.",
              "obs": null,
              "fields": null
            }


# Relatórios [/relatorios]

### Resumo de notas [POST /relatorios/nfeResumo]
  Lista as notas emitidas com os campos escolhidos e relativas aos filtros informados.

  + Attributes (object)

      + de (string, required) - data inicial, formato YYYY-MM-DD
      + ate (string, required) - data final, formato YYYY-MM-DD
      + ambiente (enum[string], required), required)
        + Members
            + 1 - Produção
            + 2 - Homologação
      + serie (number) - Série de emissão da nota
      + situacao (number) - Situação da nota, conforme a lista de códigos de situação.
      + cliente (number) - Código do destinatário no sistema
      + numCod_tipo (enum[string]) - Utilizar caso informado "numCod valor"
        + Members
            + 1 - Filtrar por número da nota
            + 2 - Filtrar por código da nota no sistema
      + numCod_valor (number) - Número ou código da nota, de acordo com "numCod tipo"
      + order (enum[string]) - Ordenação dos registros
        + Members
          + codigo - Código da nota no sistema
          + numNota - Número da nota
          + dtEmissao - Data de emissão da nota
          + nome - Nome do destinatário
      + mostrarISS - Mostrar o valor total de ISS na listagem
      + mostrarFrete - Mostra o valor total de Frete na listagem
      + mostrarBCICMS - Mostra a base de cálculo do ICMS na listagem
      + mostrarICMSST - Mostra o ICMS ST na listagem
      + mostrarSerie - Mostra a série de emissão na listagem
      + mostrarFormaPgto - Mostra a forma de pagamento na listagem
      + mostrarPesoL - Mostra o peso líquido para transporte na listagem
      + mostrarPesoB - Mostra o peso bruto para transporte na listagem

  + Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body
            
            {
              "de": "2025-01-01",
              "ate": "2025-04-28",
              "ambiente": 2,
              "serie": 1
            }

  + Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            [
                {
                    "codigo": "109",
                    "nome": "Cliente2",
                    "numNota": "2",
                    "cfop": "5102",
                    "data": "2025-04-01",
                    "situacao": "Em digitação",
                    "vNF": "0.00",
                    "vICMS": "0.00",
                    "vIPI": "0.00",
                    "vPIS": "0.00",
                    "vCOFINS": "0.00"
                }
            ]

### Totais de notas por período [POST /relatorios/nfeTotaisPorPeriodo]
  Totais das notas emitidas por filtro.

  + Attributes (object)

      + de (string, required) - data inicial, formato YYYY-MM-DD
      + ate (string, required) - data final, formato YYYY-MM-DD
      + modelo (enum[string]))
        + Members
            + 55 - NFe
            + 65 - NFCe
      + serie (number) - Série de emissão da nota
      + situacao (number) - Situação da nota, conforme a lista de códigos de situação.
      + cfop (string) - CFOP relativo à natureza da operação (5102,6102,...)
      + ncm (string) - NCM do produto (22011000,...)
      + gtin (string) - EAN / GTIN do produto (1234567891234,...)
      + indFinal (enum[string]))
        + Members
            + 1 - Apenas notas para cliente final
            + 2 - Sem notas para cliente final
      + mostrarFrete (boolean) - Mostrar total de frete
      + mostrarSeguro (boolean) - Mostrar total de seguro
      + mostrarDescontos (boolean) - Mostrar total de descontos
      + mostrarOutrasDespesas (boolean) - Mostrar total de outras despesas
      + mostrarICMSST (boolean) - Mostrar total de ICMS ST
      + mostrarFCP (boolean) - Mostrar total de FCP
      + mostrarFCPST (boolean) - Mostrar total de FCP ST
      + mostrarII (boolean) - Mostrar total de II
      + mostrarISS (boolean) - Mostrar total de ISS
      + mostrarISSRet (boolean) - Mostrar total de ISS Retido

  + Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body
            
            {
              "de": "2025-01-01",
              "ate": "2025-10-28",
              "situacao": 5,
              "modelo": 55,
              "ncm": "22011000",
              "mostrarFrete": true
            }

  + Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            [
                {
                    "key": "Valor dos Produtos",
                    "value": 135.12
                },
                {
                    "key": "Valor do Frete",
                    "value": 0
                },
                {
                    "key": "Base de Cálculo do ICMS",
                    "value": 0
                },
                {
                    "key": "Valor do ICMS",
                    "value": 0
                },
                {
                    "key": "Valor do IPI",
                    "value": 0
                },
                {
                    "key": "Valor do PIS",
                    "value": 0
                },
                {
                    "key": "Valor do COFINS",
                    "value": 0
                }
            ]


### Personalizado de contatos [POST /relatorios/personalizadoContatos]
  Lista os contatos com os campos escolhidos. O nome do contato e seu código interno sempre são listados.

  + Attributes (object)

      + contato (number, required) - Código do contato
      + tipoContato (enum[number], optional) - Tipo de contato
        + Members
          + 1 - Clientes
          + 2 - Fornecedores
          + 4 - Transportadoras
      + tags (string, optional) - Filtrar por palavras-chave dos contatos
      + tipoData (enum[string], required) - Tipo de data que será considerada para realizar os filtros
        + Members
          + dtCad - Data de cadastro
          + dtNasc - Data de nascimento
      + de (string, required) - Data inicial, formato YYYY-MM-DD
      + ate (string, required) - Data final, formato YYYY-MM-DD
      + ordenarPor (enum[string], required) - Ordenação dos registros
        + Members
          + codigo
          + nome
          + fantasia
          + dtNasc
      + mostrar_tipo (boolean, optional) - Mostrar tipo
      + mostrar_fantasia (boolean, optional) - Mostrar nome fantasia
      + mostrar_cpfcnpj (boolean, optional) - Mostrar CPF/CNPJ
      + mostrar_ie (boolean, optional) - Mostrar IE
      + mostrar_indIE (boolean, optional) - Mostrar indicador de IE 
      + mostrar_iest (boolean, optional) - Mostrar IE ST
      + mostrar_im (boolean, optional) - Mostrar IM
      + mostrar_suframa (boolean, optional) - Mostrar Suframa
      + mostrar_emails (boolean, optional) - Mostrar e-mails
      + mostrar_end (boolean, optional) - Mostrar endereço
      + mostrar_num (boolean, optional) - Mostrar número
      + mostrar_compl (boolean, optional) - Mostrar complemento
      + mostrar_bairro (boolean, optional) - Mostrar bairro
      + mostrar_cidadeNome (boolean, optional) - Mostrar cidade
      + mostrar_cidadeCod (boolean, optional) - Mostrar cód. IBGE
      + mostrar_uf (boolean, optional) - Mostrar UF
      + mostrar_cep (boolean, optional) - Mostrar CEP
      + mostrar_pais (boolean, optional) - Mostrar país
      + mostrar_fones (boolean, optional) - Mostrar fones
      + mostrar_dtNasc (boolean, optional) - Mostrar data de nascimento
      + mostrar_dtCad (boolean, optional) - Mostrar data de cadastro
      + mostrar_tags (boolean, optional) - Mostrar palavras-chave
      + mostrar_obs (boolean, optional) - Mostrar anotações

  + Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body
            
            {
              "contato": "",
              "tipoContato": "",
              "tags": "",
              "tipoData": "dtCad",
              "de": "",
              "ate": "",
              "ordenarPor": "codigo",
              "mostrar_tipo": false,
              "mostrar_fantasia": true,
              "mostrar_cpfcnpj": true,
              "mostrar_ie": true,
              "mostrar_indIE": true,
              "mostrar_iest": true,
              "mostrar_im": true,
              "mostrar_suframa": true,
              "mostrar_emails": true,
              "mostrar_end": true,
              "mostrar_num": true,
              "mostrar_compl": true,
              "mostrar_bairro": true,
              "mostrar_cidadeNome": true,
              "mostrar_cidadeCod": true,
              "mostrar_uf": true,
              "mostrar_cep": true,
              "mostrar_pais": true,
              "mostrar_fones": true,
              "mostrar_dtNasc": true,
              "mostrar_dtCad": true,
              "mostrar_tags": true,
              "mostrar_obs": true
            }

  + Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            [
            {
              "codigo": "1",
              "nome": "Cliente padrão",
              "fantasia": "",
              "cpfcnpj": "",
              "ie": "",
              "indIE": "Não informado",
              "iest": "",
              "im": "",
              "suframa": "",
              "emails": "",
              "end": "",
              "num": "",
              "compl": "",
              "bairro": "",
              "cidadeNome": "Santa Maria",
              "cidadeCod": "",
              "uf": "RS",
              "cep": "",
              "pais": "",
              "fones": "",
              "dtNasc": "0000-00-00",
              "dtCad": "2016-10-17 15:40:50",
              "tags": "",
              "obs": ""
              }
            ]

### Personalizado de produtos [POST /relatorios/personalizadoProdutos]
  Lista os produtos com os campos escolhidos. O nome do produto e seu código interno sempre são listados.

  + Attributes (object)
      + buscar (string, optional) - Apenas produtos que contenham a(s) palavra(s)
      + tags (string, optional) - Filtrar por palavras-chave dos produtos
      + categoria (number, optional) - Código da categoria
      + ordem (enum[string], optional) - Ordenação que será utilizada
        + Members
          + nomeProduto
          + codInterno
          + codPersonalizado
          + nomeCategoria
          + precoVenda
          + palavrasChave
          + ean
      + tipoProduto (enum[string], optional) - Filtrar apenas produtos ou serviços
        + Members
          + produto
          + servico
      + ordemDesc (boolean, optional) - Ordenação decrescente
      + arquivados (boolean, optional) - Apresentar produtos arquivados
      + mostrar_IcProd (boolean, optional) - Mostrar código personalizado
      + mostrar_categNome (boolean, optional) - Mostrar categoria
      + mostrar_codConfigTrib (boolean, optional) - Mostrar código grupo tributo
      + mostrar_precoVenda (boolean, optional) - Mostrar preço venda
      + mostrar_anotacoes (boolean, optional) - Mostrar anotações gerais
      + mostrar_VinfAdProd (boolean, optional) - Mostrar anotações NFe
      + mostrar_tags (boolean, optional) - Mostrar palavras-chave
      + mostrar_IcEAN (boolean, optional) - Mostrar EAN/GTIN
      + mostrar_INCM (boolean, optional) - Mostrar NCM
      + mostrar_ICEST (boolean, optional) - Mostrar CEST
      + mostrar_IEXTIPI (boolean, optional) - Mostrar EXTIPI
      + mostrar_IuCom (boolean, optional) - Mostrar unidade
      + mostrar_pesoB (boolean, optional) - Mostrar peso bruto
      + mostrar_pesoL (boolean, optional) - Mostrar peso líquido
      + mostrar_Norig (boolean, optional) - Mostrar origem
      + mostrar_cfop (boolean, optional) - Mostrar CFOP
      + mostrar_NCST (boolean, optional) - Mostrar código ICMS
      + mostrar_NpICMS (boolean, optional) - Mostrar alíquota ICMS
      + mostrar_NpICMSST (boolean, optional) - Mostrar alíquota ICMS ST
      + mostrar_NpMVAST (boolean, optional) - Mostrar MVA ST
      + mostrar_OCST (boolean, optional) - Mostrar código IPI
      + mostrar_OpIPI (boolean, optional) - Mostrar alíquota IPI
      + mostrar_QCST (boolean, optional) - Mostrar código PIS
      + mostrar_QpPIS (boolean, optional) - Mostrar alíquota PIS
      + mostrar_SCST (boolean, optional) - Mostrar código COFINS
      + mostrar_SpCOFINS (boolean, optional) - Mostrar alíquota COFINS

  + Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
                "buscar": "",
                "tags": "",
                "categoria": "",
                "ordem": "nomeProduto",
                "tipoProduto": "",
                "ordemDesc": false,
                "arquivados": false,
                "mostrar_IcProd": false,
                "mostrar_categNome": false,
                "mostrar_codConfigTrib": false,
                "mostrar_precoVenda": false,
                "mostrar_anotacoes": false,
                "mostrar_VinfAdProd": false,
                "mostrar_tags": false,
                "mostrar_IcEAN": false,
                "mostrar_INCM": false,
                "mostrar_ICEST": false,
                "mostrar_IEXTIPI": false,
                "mostrar_IuCom": false,
                "mostrar_pesoB": false,
                "mostrar_pesoL": false,
                "mostrar_Norig": false,
                "mostrar_cfop": false,
                "mostrar_NCST": false,
                "mostrar_NpICMS": false,
                "mostrar_NpICMSST": false,
                "mostrar_NpMVAST": false,
                "mostrar_OCST": false,
                "mostrar_OpIPI": false,
                "mostrar_QCST": false,
                "mostrar_QpPIS": false,
                "mostrar_SCST": false,
                "mostrar_SpCOFINS": false
            }
              

  + Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            [
                {
                    "codigo": "20",
                    "IxProd": "Produto padrão"
                }
            ]
            
### Registro de eventos [POST /relatorios/registroEventos]
  Lista os eventos ocorridos no sistema.

  + Attributes (object)

      + de (string, required) - data inicial, formato YYYY-MM-DD
      + ate (string, required) - data final, formato YYYY-MM-DD
      + buscar (string, optional) - Apenas eventos contendo a string informada
      + usuario (number, optional) - Filtrar por usuário que realizou a ação
      + modulo (enum[string], optional) - Filtrar apenas por registros de determinado módulo
        + Members
          + produtosCateg - Categoria de produtos
          + config - Configurações gerais do sistema
          + contatos
          + configTrib - Dados tributários
          + formasPgto - Formas de pagamento
          + nfce
          + nfe
          + planoContas - Plano de Contas
          + produtos
          + relatorios
          + configTemplates - Templates de impressão
          + usuarios
      + codModulo (number, optional) - Filtrar apenas por registro com o código interno informado.
      + ordem (enum[number], optional) - Ordenação
        + Members
          + 1 - Código
          + 2 - Usuário
          + 3 - Evento
          + 4 - Módulo
          + 5 - Cód. módulo
          + 6 - Data

  + Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
              "de": "2019-05-17",
              "ate": "2019-05-17",
              "buscar": "",
              "usuario": "",
              "modulo": "nfe",
              "codModulo": "5"
            }
              

  + Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            [
                {
                    "codigo": "16",
                    "codModulo": "1",
                    "modulo": "nfe",
                    "usuario": "admin",
                    "msg": "Salvou nota",
                    "obs": "ambiente: Homologação; numNota: 1; modelo: 55; serie: 1; chave: {{Chave da nota}}; ",
                    "data": "2025-01-20 14:56:53"
                },
                {
                    "codigo": "23",
                    "codModulo": "1",
                    "modulo": "nfe",
                    "usuario": "admin",
                    "msg": "Imprimiu nota",
                    "obs": "",
                    "data": "2025-01-20 16:30:54"
                }
            ]

### Registro de acessos [POST /relatorios/registroAcessos]
  Registro de acessos ao sistema.

  + Attributes (object)

      + de (string, required) - data inicial, formato YYYY-MM-DD
      + ate (string, required) - data final, formato YYYY-MM-DD
      + usuario (number, optional) - Filtrar por usuário
      + ordem (enum[number], optional) - Ordenação
        + Members
          + 1 - Entrada
          + 2 - Código
          + 3 - Usuário
          + 4 - IP
          + 5 - Saída
          + 6 - Duração

  + Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
              "de": "2019-05-15",
              "ate": "2019-05-17",
              "usuario": ""
            }
              

  + Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            [
              {
                "codigo": "1",
                "usuario": "Usuario padrão",
                "ip": "192.168.0.12",
                "entrada": "15/05/2019 09:13",
                "saida": "15/05/2019 09:22",
                "duracao": 9
              },
              {
                "codigo": "2",
                "usuario": "Usuario dois",
                "ip": "192.168.0.13",
                "entrada": "15/05/2019 09:37",
                "saida": "15/05/2019 17:59",
                "duracao": 503
              }
            ]

# NFe [/nfe]
Módulo para a consultar a situação de NFe e NFCe, e realizar o download do XML de documentos autorizados.

| Situação | Descrição |
|------|--------|
| `5` | Criada |
| `10` | Em digitação |
| `15` | Rejeitada |
| `20` | Assinada |
| `30` | Validada |
| `35` | Form. Segur. |
| `40` | Enviada |
| `50` | Autorizada |
| `80` | Denegada |
| `90` | Cancelada |
| `91` | Inutilizada |

| Ambiente | Descrição |
|---------|-----------|
| `1` | Produção |
| `2` | Homologação |

### Listar (List) [GET /nfe{?dtIni,dtFim,fields,orderBy}]
+ Parameters
    + dtIni (date, required) - Data inicial, no formato yyyy-mm-dd
    + dtFim (date, required) - Data final, no formato yyyy-mm-dd
    + fields (string, optional) - Permite definir quais os campos serão retornados pela api. Informe separado por vírgula. Valores possíveis:
        * codigo, numero, cliente, chave, email, ambiente, serie, modelo, dtEmissao, cfop, valor, situacao
        * ex: &fields=codigo,cliente
        * Padrão: codigo
    + orderBy (string, optional) - Permite definir a ordenação da listagem. Informe o campo e a forma de ordenação (ascendente ou descendente) separados por vírgula. Só é possível definir uma ordenação por requisição. Valores possíveis:
        * codigo, numero, cliente, chave, email, ambiente, serie, modelo, dtEmissao, cfop, valor, situacao
        * ex: &orderBy=cliente,desc
        * ex: &orderBy=email,asc
        

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)

          {
              "total": 1,
              "per_page": 50,
              "current_page": 1,
              "last_page": 4,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 50,
              "data": [
                 {
                   "codigo": 282,
                   "dtEmissao": "2021-01-08",
                   "situacao": 50,
                   "valor": 10.45
                 }
              ]
          }

+ Response 401 (application/json)

          {
              "errCode": 401,
              "errMsg": "Não foi possível acessar o sistema. Verifique seu \"access_token\".",
              "errObs": "access_denied",
              "errFields": null,
              "errUrl": "/v1/nfe"
          }
          
### Nova (Create) [POST /nfe/salvar]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

    + Body

            {
                "xml":"<?xml version=\"1.0\" encoding=\"utf-8\"?><NFe ... </NFe>",
                "enviar": true
            }

+ Response 200 (application/json)
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
                "code": 200,
                "msg": "Nota 1 importada com sucesso.",
                "obs": "",
                "fields": ""
            }

+ Response 400 (application/json)
  Quando o xml não é informado
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "errCode": 400,
                "errMsg": "XML não informado.",
                "errObs": "Para importar notas para o sistema, é necessário informar o xml no corpo do envio",
                "errFields": [],
                "errUrl": ""
            }
            
+ Response 400 (application/json)
  Quando o xml não é válido
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
                "errCode": 400,
                "errMsg": "Não foi possível extrair os dados do arquivo enviado. (tag infNFe não encontrada ou conteúdo vazio)",
                "errObs": "",
                "errFields": [],
                "errUrl": ""
            }

### Detalhar (Read) [GET /nfe/{codigo}]

+ Parameters
    + codigo (required, number, `1`) ... Código da NFe

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "codigo": "1",
              "numero": "1",
              "chave": "43123456789123456789123456789123456789123456",
              "modelo": "65",
              "dt_emissao": "2019-12-19",
              "situacao": "50"
            }

+ Response 404 (application/json)
  Quando o registro não foi encontrado.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum nfe encontrado para o código 1",
              "errObs": null,
              "errFields": null
            }
            
### Download XML (Read) [GET /nfe/{codigo}/xml]
    Retorna o XML (binário) de um documento autorizado.
+ Parameters
    + codigo (required, number, `1`) ... Código da NFe

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              
            }

+ Response 404 (application/json)
  Quando o registro não foi encontrado.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "errCode": 404,
              "errMsg": "Nenhum nfe encontrado para o código 1",
              "errObs": null,
              "errFields": null
            }

+ Response 404 (application/json)
  Quando o documento ainda não foi autorizado.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "errCode": 404,
              "errMsg": "Documento não se encontra autorizado, impossível fazer download do XML.",
              "errObs": null,
              "errFields": null
            }

### Download DANFE (Read) [GET /nfe/{codigo}/danfe]
    Retorna o DANFE (binário) de um documento autorizado.
+ Parameters
    + codigo (required, number, `1`) ... Código da NFe

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              
            }

+ Response 400 (application/json)
  Quando houver falha ao gerar o arquivo.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "errCode": 400,
              "errMsg": "Falha ao gerar DANFE, tente novamente",
              "errObs": null,
              "errFields": null
            }

+ Response 404 (application/json)
  Quando o documento ainda não foi autorizado.
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59

    + Body

            {
              "errCode": 404,
              "errMsg": "O documento não se encontra autorizado, impossível fazer download do DANFE.",
              "errObs": null,
              "errFields": null
            }

# Webhooks [/webhooks]
O NFeMais conta com uma estrutura de webhooks. Através dela, será disparada uma requisição para determinada URL do seu sistema sempre que algum registro for criado, editado ou excluído. 

Importante: Enviaremos um parâmetro chave na requisição, chamado de "securityToken". Esta é uma chave única e diferente de seu token. Você deve usá-la para autenticar o webhook recebido, confirmando a autenticidade da requisição.

Para testes dos webhooks, sugerimos a utilização do site https://webhook.site/

Os módulos disponíveis são os seguintes:
* Produtos
* Contatos
* Usuários

Sempre que um produto, cliente ou usuário for criado, editado ou excluído, você receberá um webhook no endpoint cadastrado, no seguinte formato (form-data):
    
    {
    
        "action"        => "updated",
        "codigo"        => "1",
        "date"          => "2019-01-11 14:55:19",
        "module"        => "contatos",
        "securityToken" => "01a161daaaf265968c1f36a19ef8f4"
    
    

+ action: Ação realizada. Valores possíveis: "created", "updated" ou "deleted".
+ codigo: Código do registro
+ date: Data que a alteração ocorreu no NFeMais
+ module: Módulo do registro alterado. Valores possíveis: "produtos", "contatos" ou "usuarios"
+ securityToken: Sua chave de segurança

*ATENÇÃO: O timeout para resposta ao POST do webhook é de 3 segundos. Serão feitas 5 tentativas em caso de falha. Sugerimos a utilização de queues para processamento dos webhooks enviados pelo NFeMais, a fim de evitar timeouts.*

No momento do cadastro do webhook, é necessário definir quais os módulos serão ativados através dos parâmetros "produtos", "contatos" e "usuarios".

Caso o parâmetro "enviarComoJson" seja marcado como true, o webhook será disparado com o cabeçalho **Content-Type: application/json**.

### Detalhar [GET /webhooks]

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]

+ Response 200 (application/json)
    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 59


    + Body
            
            {
              "endpoint": "http://www.example.com/webhookNFeMais",
              "securityToken": "01a161daaaf265968c1f36a19ef8f4",
              "produtos": true,
              "contatos": false,
              "usuarios": true,
              "enviarComoJson": false
            }

### Cadastrar [POST /webhooks]

+ Request (application/json)

  + Headers

            Authorization: Bearer [access_token]

  + Body

            {
              "endpoint": "http://www.example.com/webhookNFeMais",
              "produtos": true,
              "contatos": false,
              "usuarios": false,
              "enviarComoJson": false
            }

+ Response 200 (application/json)

    + Headers

            X-RateLimit-Limit: 60
            X-RateLimit-Remaining: 58

    + Body

            {
              "endpoint": "http://www.example.com/webhookNFeMais",
              "securityToken": "b7e7d8d9185313c8738636c6bfc57d",
              "produtos": true,
              "contatos": false,
              "usuarios": false
            }